body {
	font-family: "Inter", Helvetica, Arial, sans-serif;
	text-align: center;
}

textarea {
	max-width: 960px;
	width: 90%;

	background: #f1f1f1;
	resize: none;

	border: 0;
	border-radius: 10px;

	padding: 1em;
	margin: auto;
	font-family: "Inter", Helvetica, Arial, sans-serif;
}
